.najwa{
    width: 100%;
   height: 100%;
  
   
}
 .container{
   width:100%;
  height: 100%;
   
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
   

}
.container h1{
    color: #000000;
    font-size: 24px;
    font-weight: 700;
    word-wrap: break-word;
    margin-top: -18px;
   
}
.container p{
    color: #000000;
    font-size: 16px;
    max-width: 450px;
    text-align: center;
    font-weight: 400;
    line-height: 24px;
}

 
 img{
    width:100%;
    height: 100%;
}
   h1{
   position: fixed;
   top: 8rem;
  
}
p{
    position: fixed;
    top: 10rem; 
}
.data{
 display: flex;
 justify-content: center;
 align-items: center;
 min-width: 100%;
 
}
.data h1 {
    background: #fff;
   min-width: 920px;
    height:430px;
    border-radius: 30px;
    margin-top: 10rem;
    box-shadow: 0px 4px 20px rgba(40, 40, 40, 0.15);
    padding:50px 580px 140px 80px; 
    font-size: 24px;
    font-weight: 700;
   
    
   
}
.data p{
padding-top: 15rem;
min-width: 920px;
    min-height:388px;
    padding-left:70px;
    font-size: 16px;
    margin-top: -8px;
    font-weight: 400;
    line-height: 24px;
    
   
}
.line{
   display: flex;
   justify-content: center;
   align-items: center;
  
}
.line p{
    padding-top: 270px;
    color: #938C8C;
}
.contact{
    margin: 0 auto;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}